/* Main text stile for the webpage */
body {
    background-color: #ffffff;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 20px;
    color: #000000;
}

/* Paragrav font-size */
p {
    font-size: 30px;
    color: #000000;
}

/* Link style when not hovert over */
a {
    text-decoration: none;
    color: #000000;
}

/* Link style when hovert over */
a:hover {
    text-decoration: underline;
}

/* .list is for sitebar navigator div */
.list {
    position: fixed;
    top: 0;
    left: 0;
    height: 10%;
}

/* .title is for the big text in index.html */
.title {
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
    text-align: center;
    position: relative;
}

/* .pizza is for the pizza image and pizza-button div */
.pizza {
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translate(-50%);
    margin-top: 3px;
    padding: 3px;
}

/* .about is for the about.html main text div */
.about {
    position: absolute;
    margin-top: 100px;
    padding: 3px;
}

/* .contact is for the contact.html main text div*/
.contact {
    position: absolute;
    margin-top: 100px;
    padding: 3px;
}

/* .svg is for the pizza image */
.svg {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 40px;
    padding: 3px;
}