/* Main text stile for the webpage */

:root {
    --main-color: #FBFFF1;
    --secondary-color: #121212;
}

body {
    background-color: var(--secondary-color);
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 1.25rem;
    color: var(--main-color);
}

/* Paragrav font-size */
p {
    font-size: 1.875rem;
    line-height: 3rem;
}

/* Link style when not hovert over */
a {
    text-decoration: none;
    color: var(--main-color);
}

/* Link style when hovert over */
a:hover {
    text-decoration: underline;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 0.5rem;
    padding-left: 0%;
}

li {
    display: block;
    list-style-type: none;
}

/* .list is for sitebar navigator div */
.list {
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    z-index: 2;
}

/* .title is for the big text in index.html */
.title {
    width: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-top: 6.25rem;
    text-align: center;
    position: relative;
}

/* .pizza is for the pizza image and pizza-button div */
.pizza {
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translate(-50%);
    margin-top: 0.188rem;
    padding: 0.188rem;
}

/* .about is for the about.html main text div */
.about {
    position: absolute;
    margin-top: 6.25rem;
    padding: 0.188rem;
}

/* .contact is for the contact.html main text div*/
.contact {
    position: absolute;
    margin-top: 6.25rem;
    padding: 0.188rem;
}

/* .svg is for the pizza image */
.svg {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 2.5rem;
    padding: 0.188rem;
}

.button {
    background-color: #090C9B;
    color: var(--main-color);
    font-size: 4rem;
    position: relative;
    z-index: 2;
    border-radius: 20px;
    border-width: 0px;
    border: solid #090C9B;
}

.button:not(:disabled):hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
    border: solid #090C9B;
}

.button[disabled]{
    opacity: 0.5;
}